* { 
	margin: 5px; 
    box-sizing: border-box; 
}
body {
    /* background-color: green; */
    /* color: blue; */
}
header {
    background: url('/assets/flagheader.jpg');
	text-align: left;
	width: 100%;
	height: 400px;
	background-size: 100%;
	/* position: relative; */
	overflow: hidden;
    border-radius: 0 0 80% 80% / 30%;
    text-shadow: 10px 10px 10px gray;
    background-size: contain;
    
}
header .overlay{
	width: 100%;
	height: 100%;
	/* padding: 100px; */
	color: black;
	/* text-shadow: 10px 10px 10px gray */
}

.container {
    /* background-color: blue; */
    /* display: grid;
    grid-template-areas:
    "header header header"
    "about main ads"
    "about main main ads"
    "about main main ads"
    "footer footer footer"
    ; */
}

.menu {
    /* background-color: blue; */
    height: 500px;
    width: 200px;

}

.menu p {
    color: orange;
    font-size: 16px;
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
    text-decoration: none;
    font-size: 15px;
    color: green;
}

.main {
    /* background-color: green; */
    display: grid;
}

.main li {
    font-size: 50px;
    color: red;
}

#guiness {
    height: 200px;
    width: 400px;
}

#codeimm img {
    height: 50px;
    width: 100px;
}
#codeimm {
    height: 50px;
    width: 100px;
}

#filmacademy {
    height: 100px;
    width: 100px;
}

#gopro {
    height: 100px;
    width: 100px;
}

.liquid {
    height: 200px;
    width: 100px;
}
.redbull img {
    width: 600px;
    height: 200px;
}


/* .menu {
  grid-area: header;
  background-color: red;
  display: grid;
}

.main {
  grid-area: footer;
  background-color: green;
  display: grid;
}

.sponsors {
  grid-area: ads;
  background-color: orange;
  display: grid;
} */
