* { 
	margin: 0; 
    box-sizing: border-box; 
}
body {
    /* background-color: green; */
    /* color: blue; */
}
header {
    background: url('/assets/flagheader.jpg');
	text-align: left;
	width: 100%;
	height: 400px;
	background-size: 100%;
	position: relative;
	overflow: hidden;
    border-radius: 0 0 80% 80% / 30%;
    text-shadow: 5px 5px 5px white;
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    background-size: 100% 400px;
    
}
header .overlay{
	width: 100%;
	height: 100%;
	/* padding: 100px; */
	color: black;
	/* text-shadow: 10px 10px 10px gray */
}

.container {
    /* background-color: blue; */
    /* display: grid;
    grid-template-areas:
    "header header header"
    "about main ads"
    "about main main ads"
    "about main main ads"
    "footer footer footer"
    ; */
}

.menu {
    /* background-color: blue; */
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    /* align-items: center; */
    align-content: left;
    align-items: left;
    color: black;
    /* text-decoration: none; */
    /* height: 200px; */
    width: 100%;
    height: 50px;

}

.menu p {
    font-size: 26px;
    font-family: sans-serif;
}

.menu a {
    text-decoration: none;
}


p {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 14px;
}

.main {
    /* background-color: green; */
    display: grid;
}

.main li {
    font-size: 18px;
    list-style: none;

}

#guiness {
    height: 200px;
    width: 200px;
}

#codeimm img {
    height: 80px;
    width: 200px;
}

#filmacademy img {
    height: 75px;
    width: 200px;
}

#gopro img {
    height: 100px;
    width: 200px;
}

#liquid img {
    height: 100px;
    width: 200px;
}
#redbull img {
    width: 200px;
    height: 100px;
}
#yourlogo img {
    width: 200px;
    height: 100px;
}


/* .menu {
  grid-area: header;
  background-color: red;
  display: grid;
}

.main {
  grid-area: footer;
  background-color: green;
  display: grid;
}

.sponsors {
  grid-area: ads;
  background-color: orange;
  display: grid;
} */
